@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */

/* common css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}


body {
    font-family: 'Poppins', sans-serif;
    /* font-family: Bw Modelica, bw-modelica; */
    color: var(--primary-text-color);
}

h1 {
    font-size: 2.8rem;
    color: #1f2937;
}

h2 {
    font-size: 2rem;
    color: #1f2937;

}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.20rem;
    line-height: 1.8rem;
    color: var(--secondary-text-color);
}

a {
    display: inline-block;
}

h4 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 1.4rem;
    color: black;
    letter-spacing: 1px;
}



/* utility classes */

.small-bold-text {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}

.container {
    max-width: 1180px;
    margin: auto;
    padding-inline: var(--padding-inline-section);
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

.primary-btn {
    background-color: #ff9502;
    border-radius: 6px;
    font-weight: 500;
    padding: 10px 24px;
    color: white !important;
    box-shadow: 0 0 2px var(--secondary-text-color);
    text-align: center;
    border: none;
}

.primary-btn:hover {
    background-color: #cf711f;
    transition: 0.2s ease-out;
}

.add-worker {
    font-weight: 500;
    padding: 10px 24px !important;
    letter-spacing: 0.50px;
    font-size: 17px !important;
}

.warning {
    font-size: 15px;
    color: red;
    cursor: auto;
    margin-top: -22px;
    display: block;
    padding-bottom: 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

textarea {
    resize: vertical;
}

/* top-banner css */
.banner-text {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px 30px;
}

.top-banner {
    background-image: url(../image/asset-32.png);
    background-color: #4fb3d4;
    background-size: 300px;
}



/* navbar css */
.navbar {
    padding-block: 10px;
}

.hover-links {
    color: var(--primary-text-color);
}

.hover-links:hover {
    color: #ff9502;
    transition: 0.2s ease-out;
}

.main-nav {
    justify-content: space-between;
}

.logo-image img {
    width: 250px;
}

.nav-links ul {
    gap: 40px;
    justify-content: end;
}

.secondary-btn {
    border: 1px solid var(--secondary-text-color);
    padding: 12px 24px;
    font-weight: 700;
    background: transparent;
    color: var(--primary-text-color) !important;
    border-radius: 5px;
    transition: 0.2s ease-out;
    font-size: 18px;
}

.secondary-btn:hover {
    border: 1px solid #ff9502;
    color: #ff9502 !important;
}

.nav-toogle {
    display: none;
}

/* header section */

header {
    padding: 50px var(--padding-inline-section);
}

.header-right {
    width: 35vw;
}

.header-right img {
    width: 100%;
}

.header-section {
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
}

.header-left h1 {
    margin-bottom: 15px;

}

.header-left {
    max-width: 40vw;
}

.get-started-btn {
    margin-top: 25px;
}

.logo-panel {
    width: 100%;
    margin-top: 40px;
    gap: 10px;

}

.logo-box {
    flex-direction: column;
    gap: 15px;
    flex-basis: 27%;
}

.logo-desc {
    word-break: keep-all;
    text-align: center;
}

.logo-layer {
    background-color: #fff;
    box-shadow: 0 10px 16px -3px rgba(0, 0, 0, .1);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first {
    height: 25px;
}




/* category section */
.category-section {
    padding: 80px var(--padding-inline-section);


}

.category-header {
    text-align: center;

}

.category-image {
    height: 2.25rem;

}

.category-box {
    flex-wrap: wrap;
    margin-top: 55px;
    gap: 40px;
    justify-content: space-between;
}

.c-box {
    /* max-width:30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    cursor: pointer;
    flex-basis: 22%;
}

/* register section */
.register-section {
    padding: 0 var(--padding-inline-section) 40px;
}

.register-form {
    padding-inline: 30px;
}

.category-select-box {
    height: 3.5rem;
    width: 18rem;
    border-radius: 6px;
    border: 2px solid #e5e7eb;
    outline: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.pay-select-box {
    height: 3.5rem;
    width: 13rem;
    border-radius: 6px;
    border: 2px solid #e5e7eb;
    padding: 15px;
    font-size: 16px;
    outline: none;
}

.period-select {
    height: 3.5rem;
    width: 10rem;
    border-radius: 6px;
    border: 2px solid #e5e7eb;
    outline: none;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
}

.down-caret {
    position: absolute;
    left: 255px;
    top: 50px;
}

.absolute {
    position: absolute;
    top: 50px;
    left: 125px;
}

.absolute-pay {
    position: absolute;
    top: 50px;
    left: 170px;
}

.first-row {
    max-width: 100%;
    gap: 50px;
    margin-block: 30px;
}

.first-row-common {
    flex-basis: 25%;
    position: relative;
}

.third-row {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-block: 30px;
    gap: 25px;

}

#desc {
    width: 100%;
    height: 10rem;
}

.second-row {
    max-width: 100%;
    gap: 10px;
    margin-block: 30px;
}

.second-row-common {
    width: 50%;
}

.third-row-select-box {
    height: 3.5rem;
    width: 14rem;
    border-radius: 6px;
    border: 2px solid #e5e7eb;
    outline: none;
}

.size {
    font-size: 15px;
    padding-bottom: 7px;
}

.register-form input,
.register-form textarea {
    padding: 10px;
    font-size: 15px;
    cursor: auto;
}

::placeholder {
    color: grey;
    opacity: 0.8;
    font-weight: 200;
    font-size: 15px;
}

.terms {
    gap: 10px;
    padding-top: 20px;
    justify-content: space-between;
}

input[type='checkbox'] {
    accent-color: #ff9502;
    width: 20px;
    height: 15px;
}

.uploader {
    border-width: 2px;
    border-style: dashed;
    position: relative;
    cursor: pointer !important;
    border-radius: 0.375rem;
    border-color: rgba(209, 213, 219, 1);
}

input:focus,
select:focus,
textarea:focus {
    border-color: #ff9502;
}

/* example section */
.register-header {
    text-align: center;
    padding: 60px var(--padding-inline-section) 40px;
}



/* cta section */
.cta-section {
    background-color: var(--primary-text-color);
    padding: 100px var(--padding-inline-section) 80px;
}

.cta-info {
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.cta-info p {
    color: white;
    margin-top: 20px;
}


/* footer section */
.footer-section {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-start;
}

.products {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.methodologies {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.resources {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

/* subfooter section */
.subfooter {
    background-color: #b9cde4;
}

.subfooter-container {
    gap: 50px;
    justify-content: center;
    padding: 15px var(--padding-inline-section) 15px;
    flex-wrap: wrap;

}

.hover-links img {
    height: 20px;
}



/* worker-profile css */
.width {
    max-width: 1290px;
}

.profile-main {
    padding: 20px 15px;
    background-color: #f9fafb;
    margin-bottom: 40px;

}

.box-shadow {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05882);
    align-items: flex-start;
    padding-bottom: 100px;
}

.worker-image img {
    width: 100%;
    height: 530px;
}

.profile-left {
    width: 58.33%;
}

#profile-email {
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    outline: none;
    width: 100%;
    font-size: 16px;
}

#password {
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.profile-right {
    width: 41.66%;
    padding: 45px 23px 40px 35px;
}

.login-form {
    flex-direction: column;
    gap: 37px;
    align-items: baseline;
    position: relative;
}

.forgot-pass {
    color: #ff9502;
    font-size: 14px;
    letter-spacing: 0.7px;
    width: 100%;
    text-align: end;

}

.login-btn {
    width: 100%;
    padding: 15px 0;
    border-radius: 0;
    outline: none;
    border: none;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 0.75px;
}

#open {
    position: absolute;
    top: 135px;
    right: 20px;
    cursor: pointer;
}


/* login page css */
.login-container {
    background: white;
    max-width: 480px;
    margin: auto;
    padding: 20px 20px;
    border-radius: 13px;
    position: absolute;
    top: -150%;
    left: 35vw;
    z-index: 9999;
    transition: all 0.7s ease-in-out;

}

.login-form {
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.red {
    color: red;
}

.login-email {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.login-info {
    flex-direction: column;
    gap: 15px;
    align-items: baseline;
    margin-top: -30px;
}

.close-div {
    width: 100%;
    text-align: end;
    cursor: pointer;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    cursor: pointer;
}

.new-account {
    width: 100%;
    margin-top: -10px;

}

.new-account a {
    font-size: 0.9rem;
    font-weight: 500;
    color: #ff9502;

}

#create-new-account {
    width: 70%;

}

.new-account .forgot-pass {
    text-align: end;
}

.new-account-container {
    background: white;
    max-width: 480px;
    margin: auto;
    padding: 20px 20px;
    border-radius: 13px;
    position: absolute;
    top: -150%;
    left: 35vw;
    z-index: 9999;
    transition: all 0.7s ease-in-out;
}

.active {
    top: 12%;
}


/* find worker page css */
.banner-image img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.banner-image {
    position: relative;
}

.worker-filter {
    max-width: 1180px;
    margin: auto;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 35px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: -60px;
}

.worker-banner-text {
    position: absolute;
    text-align: center;
    top: 28%;
    left: 35%;
}

.worker-width {
    width: 1330px;
}

.filter-left {
    width: 25%;

}

.filter-right {
    width: 75%;
    padding-inline: 15px;
}

.filter-left ul {
    flex-direction: column;
    align-items: baseline;
    border-right: 1px solid rgb(229, 231, 235);
}

.filter-left ul li {
    border-bottom: 1px solid rgb(229, 231, 235);
    width: 100%;
    outline: none;
    padding: 12px 12px 12px;
    font-size: 1rem;
    font-weight: 500;
    color: #374151;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-input {
    padding: 0 0 0 25px;
    height: 4rem;
    outline: none;
    color: #5c5c68;
    font-size: 15px;
    border-radius: 8px 0 0 8px;
    border: 1px solid gray;
    width: 100%;
    letter-spacing: 0.8px;
}

.search-btn {
    padding: 18px 0;
    text-align: center;
    height: 4rem;
    border-radius: 0 8px 8px 0;
    width: 18%;
    outline: none;
    font-size: 18px;
}

.search-input {
    margin-top: -60px;
}

.filter-box {
    height: 2rem;
    width: 18rem;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    color: #374151;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* support page css */
.login-register-popup {
    align-items: baseline;
    max-width: 1000px;
    margin: auto;
}

.support {
    background-color: #fff;
    box-shadow: 0 0 35px 8px rgba(0, 0, 0, 0.2);
    display: block;
    padding: 50px 20px;
    position: unset;
    margin: 35px auto;
}

.faq-header h2 {
    text-align: center;
}

.faq {
    margin-block: 100px;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    border-block: 1px solid rgb(229, 231, 235);

}

.faq-questions {
    margin-top: 35px;
}

.accordion-item-header {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    color: #ff9502;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}

.accordion-item-body-content {
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--secondary-text-color);

}

.support-ticket {
    margin-bottom: 100px;
}

.ticket-content {
    background-color: #fff;
    box-shadow: 0 0 35px 8px rgba(0, 0, 0, 0.2);
    padding: 20px 35px;
    margin-block: 40px;
}

.ticket-content-header {
    gap: 15px;
}

.ticket-content-header a {
    background-color: white;
    color: black;
    border: 1px solid grey;
    padding: 7px 10px;
}

.form-subject {
    flex-direction: column;
    padding-top: 25px;
    padding-inline: 15px;
}

#subject {
    width: 100%;
    padding: 15px 10px;
    outline: none;
}

#subject-label {
    text-align: start;
    width: 100%;
    padding: 6px 0;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.choose-file {
    border: 1px solid;
}

.ticket-btn {
    padding: 35px 15px;
}

.upload-criteria {
    font-size: 1rem;
    color: grey;
    padding: 5px 0;
    text-align: start;
    width: 100%;
}

select option:target {
    background-color: grey;
    padding: 15px;
}